@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

:root {
  /* color */
  --color-background: #EEEBE5;
}

body {
  position: relative;
  /* 핸드폰에 있는 상태바를 표현한 것 */
  padding-top: 44px; 
  font-family: 'Noto Sans KR', sans-serif;

  background-color: var(--color-background);

  /* 핸드폰 디스플레이용, 나중에 지워야 함 */
  width: 375px;
  border: 1px solid black;
  margin: 50px;
}

/* HEADER */

header > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 27px;
  margin-right: 21px;
}

header .header-profile > img {
  width: 43px;
  height: 43px;
}

header .header-title {
  vertical-align: middle;
}

header .header-option {
  display: flex;
}

.header-option img {
  height: 21px;
  margin-left: 22px;
}

/* MAIN */

/* Account */

.account-container {
  background: #FFFFFF;
  
  box-shadow: 0px 0px 16px rgba(226, 191, 66, 0.19);
  border-radius: 12px;

  margin: 33px 48px 24px 48px;
  padding: 6px 2px;
}

.account-list {
  position: relative;

  height: 21px;

  margin-top: 14px;

  font-size: 14px;
}


.account-number {
  text-align: center;
  line-height: 21px;
  margin: auto;
  
  color: #858585;
}

.account-transfer {
  border: none;

  position: absolute;
  top: 0;
  right: 17px;

  line-height: 21px;
  font-weight: bold;
}

.account-balance {
  margin: 16px auto;

  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  text-align: center;
  letter-spacing: 2px;
}

.account-graphic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-graphic input {
  -webkit-appearance: none;

  width: 70%;
  height: 6px;
  border-radius: 3px;
  vertical-align: center;

  background-color: #C4C4C4;
}

.account-graphic input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 4px;
  height: 17px;
  background: #FF5F00;
}

.account-spent {
  float: left;
  position: absolute;
  left: 84px;
  border-radius: 3px 0 0 3px;

  background-color: #FFDB4C;
  height: 6px;
  width: 100px;
}

.account-graphic img {
  width: 14px;
}

.account-notice {
  text-align: center;
  
  margin-top: 12px;
  margin-bottom: 6px;
}

.ad {
  text-align: center;

  margin-bottom: 21px;

  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.ad-link {
  color:black;
}

.transaction-container {
  height: 60vh;

  overflow: scroll;

  background: #F5F5F5;

  box-shadow: 0px -5px 14px rgba(189, 144, 28, 0.08);
  border-radius: 30px 30px 0px 0px;
}

.transaction-container::-webkit-scrollbar { 
  display: none; 
}

img.scroll-bar {
  display: block;
  margin: 0 auto 14px; 
  padding: 4px;
}

/* Transaction */

.transaction-save {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.transaction-save-item {
  width: 48%;
  background: #DADADA;
  border-radius: 6px;
}

.transaction-save-item > .transaction-save-item-filled {
  /* 이후에 계산으로 수정 */
  width: 60%;

  padding: 5px 13px;

  border-radius: 6px 0px 0px 6px;

  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: white;
}

.transaction-save-item-filled.color-orange {
  background: #FF5F00;
}

.transaction-save-item-filled.color-yellow {
  background-color: #FEB700;
}

.transaction-day {
  width: 80%;
  margin: 16px auto 0;
}

.transaction-day-summary {
  display: flex;
  justify-content: space-between;

  margin-top: 30px;
  margin-bottom: 10px;

  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
}

.transaction-day-summary > .transaction-day-title {
  font-weight: bold;
}

.transaction-day-summary > .transaction-day-amount {
  font-weight: 500;
  color: #B4B4B4;
}

.transaction-item {
  display: flex;
  justify-content: space-between;

  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  color: #444444;
}

.transaction-item-name {
  font-weight: 350;
}

.transaction-item-price {
  font-weight: 300;
}

.income {
  color: #FF5F00;
}

/* FOOTER */

footer {
  background: linear-gradient(163.63deg, #00BDB2 11.35%, #C4E7B8 139.96%);
}

.tab-menu {
  height: 76px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tab-menu-item img {
  width: 20px;
  color:white;
}

/* chart.html */

button.close {
  border: none;
  background-color: inherit;
  position: absolute;
  right: 13px;
  top: 1px;

  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}

body > h2 { 
  margin: 12px auto 12px 30px;

  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.standard-setting {
  margin-left: 30px;
  margin-right: 37px;
}

.standard-setting > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.standard-setting > div > p {
  display: inline-block;

  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: 500;
}

.standard-setting > div > p:nth-child(1) {
  font-size: 18px;
  line-height: 27px;
  color: #444444;
}

.standard-setting > div > p:nth-child(2) {
  font-size: 24px;
  line-height: 36px;
  color: #FF5F00;
}

.standard-setting input.slidebar {
  -webkit-appearance: none;

  display: block;
  margin: 0 auto;

  width: 100%;
  height: 9px;
  border-radius: 3px;
  
  margin-top: 30px;

  background-color: #C4C4C4;
}

.standard-setting input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 8px;
  height: 28px;
  background: #FF5F00;
  border-radius: 2px;
}

.standard-setting .account-spent {
  float: left;
  position: absolute;
  left: 30px;
  top: 170px;

  border-radius: 3px 0 0 3px;

  background-color: #FFDB4C;
  height: 9px;
  width: 100px;
}

section.daily-report {
  margin: 60px 30px;
}

section.spending-pattern {
  margin: 60px 30px;
}